@model FirstMVC.tbl_Student

<div class="display-lable">
	@Html.DisplayName("FirstName")
</div>
<div class="dispay-field">
	@Model.FirstName
</div>
<div class="display-lable">
	@Html.DisplayName("LastName")
</div>
<div class="dispay-field">
	@Model.LastName
</div>
<div class="display-lable">
	@Html.DisplayName("Age")
</div>
<div class="dispay-field">
	@Model.Age
</div>
<div class="display-lable">
	@Html.DisplayName("City")
</div>
<div class="dispay-field">
	@Model.City
</div>